/* Header part */
.upper-side {
  padding: 15 0;
  background: linear-gradient(to left, #05d163 0%, #06a48f 100%, #06a48f 100%);
}

.title {
  font-size: 18;
  color: #ffffff;
  vertical-align: center;
}

/* --------- */
.text {
  font-size: 16;
  line-height: 6;
  color: #1e2e50;
}

.location-text {
  font-size: 16;
  line-height: 6;
  color: #0041ff;
  padding-left: 0;
}

.vertical-separator {
  width: 1;
  background-color: #e4e6ef;
  height: 20;
}
