/* Header part */
.upper-side {
  padding: 15 0;
  background: linear-gradient(to left, #05D163 0%, #06A48F 100%, #06A48F 100%);
}

.title {
  font-size: 18;
  color: #FFFFFF;
  vertical-align: center;
}

/* --------- */
.text {
  font-size: 16;
  line-height: 6;
  color: #1E2E50;
}

.location-text {
  font-size: 16;
  line-height: 6;
  color: #0041FF;
  padding-left: 0;
}

.vertical-separator {
  width: 1;
  background-color: #E4E6EF;
  height: 20;
}
